#
# JDC AX1800pro LibWrt Configuration
#
CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_qualcommax_ipq60xx_DEVICE_jdcloud_re-ss-01=y

CONFIG_TARGET_ROOTFS_EROFS=y
CONFIG_TARGET_ROOTFS_SQUASHFS=n

CONFIG_WIFI_SCRIPTS_UCODE=y

CONFIG_FEED_nss_packages=n
CONFIG_FEED_sqm_scripts_nss=n

CONFIG_DROPBEAR_LEGACY_COMPAT=n
CONFIG_DROPBEAR_DBCLIENT=n
CONFIG_DROPBEAR_CHACHA20POLY1305=n
CONFIG_DROPBEAR_CURVE25519=n

CONFIG_PACKAGE_cpufreq=n

##### Luci #####
CONFIG_PACKAGE_default-settings-chn=y
CONFIG_PACKAGE_luci-app-commands=y
CONFIG_PACKAGE_luci-app-homeproxy=y
CONFIG_PACKAGE_luci-app-ksmbd=y
#CONFIG_PACKAGE_luci-app-nlbwmon=y
CONFIG_PACKAGE_luci-app-smartdns=y
CONFIG_PACKAGE_luci-app-smartdns_INCLUDE_WebUI=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-wol=y
#CONFIG_PACKAGE_luci-app-zerotier=y

##### Utilities #####
CONFIG_PACKAGE_cfdisk=y
CONFIG_PACKAGE_lsblk=y
CONFIG_PACKAGE_mmc-utils=y
CONFIG_PACKAGE_mtd=y
CONFIG_PACKAGE_htop=y
CONFIG_HTOP_LMSENSORS=n
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_ip-full=y

##### Libraries #####
#CONFIG_PACKAGE_libsqlite3=y
#CONFIG_SQLITE3_BATCH_ATOMIC_WRITE=y

##### Kernal #####
CONFIG_PACKAGE_kmod-nft-arp=y
CONFIG_PACKAGE_kmod-nft-bridge=y
CONFIG_PACKAGE_kmod-nft-connlimit=y
CONFIG_PACKAGE_kmod-nft-socket=y
CONFIG_PACKAGE_kmod-nft-tproxy=y
CONFIG_PACKAGE_kmod-nft-xfrm=y
CONFIG_PACKAGE_kmod-fs-xfs=y
CONFIG_PACKAGE_kmod-sched-bpf=y
CONFIG_PACKAGE_kmod-tcp-bbr=y
CONFIG_PACKAGE_kmod-tls=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-veth=y
CONFIG_PACKAGE_kmod-mmc=y

CONFIG_PACKAGE_zram-swap=y
CONFIG_PACKAGE_kmod-zram=y
CONFIG_KERNEL_ZRAM_BACKEND_ZSTD=y
CONFIG_KERNEL_ZRAM_BACKEND_LZO=n
CONFIG_KERNEL_ZRAM_DEF_COMP_ZSTD=y

##### IPQ6000 #####
CONFIG_PACKAGE_kmod-qca-nss-crypto=y
CONFIG_PACKAGE_kmod-qca-nss-drv-netlink=y
CONFIG_NSS_DRV_TLS_ENABLE=y
CONFIG_PACKAGE_kmod-qca-mcs=y
CONFIG_PACKAGE_kmod-qrtr-tun=y
#CONFIG_ATH11K_NSS_MESH_SUPPORT=y

CONFIG_IPQ_MEM_PROFILE_512=y
